# -------------------------------------
# General
# -------------------------------------
node_modules/
dist/
web-build/
*.log
.DS_Store
.vscode/

# -------------------------------------
# Expo
# -------------------------------------
.expo/
expo-env.d.ts
.metro-health-check*

# -------------------------------------
# Android
# -------------------------------------
android/.gradle/
android/app/build/
android/build/

# -------------------------------------
# iOS
# -------------------------------------
ios/Pods/
ios/build/
ios/.xcworkspace
ios/*.xcodeproj
ios/*.xcworkspace

# -------------------------------------
# Debug / Errors
# -------------------------------------
npm-debug.*
yarn-debug.*
yarn-error.*

# -------------------------------------
# Environment
# -------------------------------------
.env*
.env*.local
*.pem

# -------------------------------------
# TypeScript
# -------------------------------------
*.tsbuildinfo

# -------------------------------------
# Native Keys / Provisioning
# -------------------------------------
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# -------------------------------------
# Testing (opcional)
# -------------------------------------
coverage/